.signup_container {
  width: 70vw;
  max-width: 70vw;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #ffffff;
  margin: 2rem 1rem;
}

.signup_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  margin: 0.5rem 0;
}

#signup_header_heading {
  margin-left: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

#signup_header_description {
  margin: 0.5rem 0 0 0.5rem;
  font-family: 'Comfortaa', cursive;
  font-size: x-small;
  color: #ABAFB7;
}

#signup_form {
  margin: 1.5rem 0 0.5rem 0;
}

.signup_input {
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  background-color: #F2F5FA;
  resize: none;
  height: 50px;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
}

#signup_button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: fit-content;
  float: right;
  margin: 1rem 0 0.5rem 0;
}

#signup_button:disabled {
  pointer-events: none;
}

#signup_button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#signup_button:active {
  box-shadow: none;
  transform: translateY(0);
}

#signup_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}